/* Universdal Element: This is creating a simple structre for the page. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Defines the background color behind all of the content with in the body tags. */
body {
    background-color: #d9dcd6;
}

/* This defines the size and stle of the header found at the top of the page. */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Styles the text found in the h1 with in the header */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Changes the color of the classified letters "seo". */
header h1 .seo {
    color: #d9dcd6;
}

/* Styles all list items found in the nav tag */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Stlyes the list items to be in line next eachother. */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Defines the text color for content found in a tags. These tags will operate as links to the corresponding page. */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Defines font size for all text found in all p tags. */
p {
    font-size: 16px;
}

/* Creates a defined space on the page and fills it with the defined image */
main {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}


.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.format {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.format img {
    max-height: 200px;
}

.format h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benifit-format {
    margin-bottom: 32px;
    color: #ffffff;
}

.benifit-format h3 {
    margin-bottom: 10px;
    text-align: center;
}


.benifit-format img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}